[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
"flake8" = "*"
yapf = "*"

[packages]
django = "*"
django-registration-redux = "*"
mimesis = "*"
faker = "*"
djangorestframework = "*"
django-allauth = "*"
django-dotenv = "*"
python-dotenv = "*"
django-heroku = "*"
pillow = "*"
django-gravatar2 = "*"
psycopg2 = "*"
django-extensions = "*"
django-el-pagination = "*"
gunicorn = "*"
django-endless-pagination-vue = "*"
django-debug-toolbar = "*"
django-filter = "*"

[requires]
python_version = "3.7"
