[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-registration-redux = "*"
mimesis = "*"
faker = "*"
djangorestframework = "*"
django-allauth = "*"
django-dotenv = "*"
python-dotenv = "*"
django-heroku = "*"
pillow = "*"
django-gravatar2 = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
