{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>
        {% block title %}
        TWEETER
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% block header %}{% endblock header %}
    <script src="{% static 'js/vue.js' %}" defer></script>
    <script src="{% static 'js/app.js' %}" defer></script>
</head>

<body>


    <header>
        <nav>
                <a href="{% url 'home' %}"><span>Home</span></a>
                <a href="{% url 'about' %}">About</a>
                {% if user.is_authenticated %} <li>
                    <a href="{% url 'auth_logout' %}">Logout</a>
                </li>
                {% else %}
                
                    <a href="{% url 'auth_login' %}">Login</a> 
                
                    <a href="{% url 'registration_register' %}">Register</a>
                
                {% endif %}


            </ul>
        </nav>
    </header>


    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>

</html>