{% extends 'base.html' %}
{% load static %}
{% load app_tags %}
{% block title %}
  Testing Vue - {{ block.super }} 
{% endblock title %}

{% block content %}
  <div id="vue-container">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns">
        <div class="fl w-25 w-25-ns pa2">
          <div class="outline bg-white pv4">
          {% comment %} Profile card {% endcomment %}
            <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
              <div class="tc">
                <img src="{{ user|gravatar:50 }}" class="br-100 h3 w3 dib" title="Photo of a kitty staring at you">
                <h1 class="f4">Mimi Whitehouse</h1>
                <hr class="mw3 bb bw1 b--black-10">
              </div>
              <p class="lh-copy measure center f6 black-70">
                Quite affectionate and outgoing.
                She loves to get chin scratches and will
                roll around on the floor waiting for you give her more of them.
              </p>
            </article>
          </div>
        </div>
        <div class="fl w-75 w-75-ns pa2">
          <div class="outline bg-white pv4">
            {% comment %} Dynamically generated content {% endcomment %}
            <section class="mw7 center">
              <h2 class="athelas ph3 tc ph0-l">Feed</h2>

              <article v-for="post in posts" class="pv3 bt bb b--black-10 ph1 ph0-l">
                <div class="flex flex-column flex-row-ns">
                  <div class="pl1-ns order-1 mb2 mb0-ns w-100 w-25-ns">
                    {% comment %} user avatar {% endcomment %}
                    <div class="tc">
                      <img src="http://tachyons.io/img/logo.jpg" class="br1 h4 w4 dib" alt="avatar">
                      <div><a class="f6 grow no-underline br-pill ba ph3 pv1 dib mid-gray" href="#0">View Comments</a></div>
                    </div>
                  </div>
                  <div class="w-100 w-70-ns mr1 br3 shadow-2 pa3 pr3-ns order-2">
                    <h1 class="f3 athelas mt0 lh-title">${post.text}</h1>
                    <p class="f6 ml2 lh-copy gray mv0">By <span class="ttu">${post.user.username}</span></p>
                    <time class="f6 ml2 db gray">${post.created_at}</time>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
